# Python
__pycache__/
*.py[cod]
*.pyo
venv/
.venv/

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Generated content
/assets/content-images/
/content-packages/

# Node
node_modules/

# Secrets
.env
